<div class="container-fluid">
    <mat-toolbar color="primary">
        <!-- <div class="row">
            <div class="col-md-3"> -->
                <h5>Home</h5>

                <nav>
                    <ul style="list-style-type: none;display: inline-flex;">
                      <li><button class="btn btn-block"><a routerLink="/user-registration/register" routerLinkActive="active"> User Registration</a></button></li>
                      <li><button class="btn btn-block"><a routerLink="/user-details/detail-list" routerLinkActive="active">User List</a></button></li>
                      <li><button class="btn btn-block"><a routerLink="/upload/file" routerLinkActive="active">File Upload</a></button></li>
                      <li><button class="btn btn-block"><a routerLink="/upload/view" routerLinkActive="active">User View</a></button></li>

                    </ul>
                  </nav>
        <!-- </div> -->

    </mat-toolbar>
    <router-outlet></router-outlet>
</div>